.UserApi{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.UserApi h1{
    font-size: 3rem;
    width: 200px;
    margin: 3rem 2rem 0 2rem;
    text-align: center;
    color: #0095ffa2;
}
.UserApiContent{
    border-radius:2rem 1rem 0;
    background-color: #0095ffa2;
    width: 200px;
    margin: 2rem;
}
.UserApiContent img{
    border-radius: 2rem 1rem 0 0 ;
    max-width: 100%;
    height: auto;
}

.UserApiContent :nth-child(2){
    padding:1rem 0 0.3rem 2rem;
}
.UserApiContent :nth-child(3){
    padding:0 0 1rem 2rem;
}
